body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(253, 249, 243)
}

.App {
  min-height: 100vh;
  width: 100%; /* Ensures the app takes full width */
  position: relative; /* Positions children relative to .App */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
}

.BorderTop, .BorderBottom {
  position: absolute; /* Fixes the borders to the top and bottom edges */
  display: flex;
  width: 100%;
  height: auto;
  z-index: 1; /* Ensure the borders are above the background but behind the content */
}

.BorderTop {
  top: 0;
  left: 0; /* Position at the top edge */
  justify-content: space-between; /* Distributes space between the left and right images */
}

.BorderBottom {
  bottom: 0;
  left: 0; /* Position at the bottom edge */
  justify-content: space-between; /* Distributes space between the left and right images */
}

.BorderTop img, .BorderBottom img {
  max-width: 100%;
  height: auto;
  position: absolute; /* Absolute positioning within the fixed container */
}

.border-left {
  left: 0;
  width: 30%; /* Adjust width as needed */
}

.border-right {
  right: 0;
  width: 30%; /* Adjust width as needed */
}



/* Ensure no extra margin/padding on the container */
#Introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 350px 20px 240px 20px; /* Padding to ensure space from top and bottom borders */
}


.intro1 {
  padding-bottom: 50px;
}

.intro1, .intro2 h2{
  font-size: 3.5vmin;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  color: #b38b5a;
  font-weight: 500;
  margin-bottom: -10px;
}

.intro2 {
  padding: 30px;
}

.RoyAndShawn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img {
    width: 90%;
    height: auto;
  }
}

.date {
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Crimson Pro", serif;
  font-size: 3vmin;
  color: #545454;
  padding: 0 20px;

  h2 {
    margin-bottom: 5px;
  }

  h2:first-child {
    margin-bottom: -10px;
    font-weight: bold;
  }

  h2:nth-child(2) {
    margin-bottom: -10px;
    font-style: italic;
    font-weight: 100;
  }

  h2:nth-child(3) {
    margin-bottom: 0;
    font-style: italic;
    font-weight: 100;
  }
}

#Entourage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: -250px;
  font-family: "Crimson Pro", serif;
  color: #545454;

  img {
    width: 100%;
    height: auto;
  }
}

.Parents {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  padding: 8px;
  margin-bottom: 20px;


  .column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    
    .parentsList {
      font-size: 3.52778vmin;
      font-weight: bold;
      margin-bottom: 20px; 
      font-style: normal;
  
    }
  
    h2 {
      font-style: italic;
      font-size: 3.52778vmin;
      margin: 5px 0;
      font-weight: 100;
      margin-bottom: -5px;
    } 
  }
}



.PrincipalSponsors {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px; 
  padding: 20px;
  text-align: center; 
  margin-bottom: 20px;

  h2 {
    font-size: 3.52778vmin;
    font-style: normal;
    font-weight: bold;
    margin: 0; 
    grid-column: span 2; 
    margin-bottom: -20px;
    
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    

    h2 {
      font-style: italic;
      font-weight: 100;
      margin: 5px 0;
      margin-bottom: -5px;
    }
  }
}



.BestMen-MaidofHonors{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  padding: 10px;
  text-align: center;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center; 

      h2 {
        margin-top: 5px;
        font-size: 3.52778vmin;
        font-style: normal;
        font-weight: bold;
      }

      .BestMen-MaidofHonors-names {
      
        h2{
          font-style: italic;
          font-weight: 100;
          margin: 5px 0;
          margin-bottom: -5px;
        }
      }
  }
}



.BridesMaids-GroomsMen{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  padding: 10px;
  text-align: center;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center; 

    h2 {
      margin-top: 15px;
      font-size: 3.52778vmin;
      font-style: normal;
      font-weight: bold;

    }

    .BridesMaids-GroomsMen-names {
    
      h2{
        font-style: italic;
        font-weight: 100;
        margin: 5px 0;
        margin-bottom: -5px;
      }
    }
  }
}


.flower-boy-girl{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 80px;
  padding: 10px;
  text-align: center;
  

    .column {
      display: flex;
      flex-direction: column;
      align-items: center; 

    h2 {
      margin-top: 15px;
      font-size: 3.52778vmin;
      font-style: normal;
      font-weight: bold;

    }

    .flower-boy-girl-name{
    
      h2{
        font-style: italic;
        font-weight: 100;
        margin: 5px 0;
        margin-bottom: -5px;
      }
    }
  }
}

.Cord{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  margin-bottom: -10px;

  h2 {
    margin-top: 10px;
    font-size: 3.52778vmin;
    font-style: normal;
    font-weight: bold;

  }

  .Cord-names {
  
    h2{
      font-style: italic;
      font-weight: 100;
      margin: 5px 0;
      margin-bottom: -5px;
    }
  }
}


.Wedding-Roles {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  padding: 20px;

  .column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 5px;
    
    .Roles {
      font-size: 3.52778vmin;
      font-weight: bold;
      margin-bottom: 0px;
      font-style: normal;
      margin-bottom: 15px;
      margin-top: 25px;
  
    }
  
    h2 {
      font-style: italic;
      font-size: 3.52778vmin;
      margin: 5px 0;
      font-weight: 100;
      margin-bottom: -5px;
    } 
  }
}

.Attire{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Crimson Pro", serif;
  color: #545454;
  padding: 20px;
  margin-top: 50px;

  .Attire-Text {
    width: 40%;
    height: auto;

  }

  img{
    width: 100%;
    height: auto;

  }

  h1 {
    font-size: 3.175vmin;
    font-weight: bold;
    margin-bottom: -5px;
    font-style: normal;
  }

  h2 {
    font-size: 3.52778vmin;
    font-style: italic;
    font-weight: 100;
    margin: 5px 0;
    margin-bottom: -5px;
  }

}



.Theme{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Crimson Pro", serif;
  color: #545454;
  padding: 20px;
  margin-top: 10px;

  .Theme-Text {
    width: 40%;
    height: auto;

  }

  img{
    width: 100%;
    height: auto;

  }



  h2 {
    font-size: 3.52778vmin;
    font-style: italic;
    font-weight: 100;
    margin: 5px 0;
    margin-bottom: -5px;
  }

}

.Gifts{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Crimson Pro", serif;
  color: #545454;
  padding: 20px;
  margin-top: 10px;

  .Gifts-Text {
    width: 40%;
    height: auto;

  }



  h2 {
    font-size: 3.52778vmin;
    font-style: italic;
    font-weight: 100;
    margin: 5px 0;
    margin-bottom: -5px;
  }

}



.Directions{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Crimson Pro", serif;
  color: #545454;
  padding: 20px;
  margin-top: 10px;

  .how-to-get-there-Text{
    width: 75%;
    height: auto;

  }



  h2 {
    font-size: 3.52778vmin;
    font-style: bold;
    margin: 5px 0;
    margin-bottom: -5px;
  }

  .QR-img{
    width: 100%;
    height: auto;
  }

  a {
    font-family: "Crimson Pro", serif;
    font-size: 3.52778vmin;
    color: #426494;
    text-decoration: underline;
    cursor: pointer;
  }
}







@media only screen and (min-width: 320px) and (max-width: 900px) and (orientation: portrait) {
  #Introduction {
    padding: 70px 20px 240px 20px;
    margin-top: 40px;
  }


  

}


@media only screen and (min-width: 320px) and (max-width: 900px) and (orientation: portrait) {

  .BorderTop img, .BorderBottom img {
    width: 190px;
    height: auto; 
    position: absolute;
  }
  

}

@media only screen and (min-width: 1000px) {

  .Parents,.BestMen-MaidofHonors, .BridesMaids-GroomsMen, .Wedding-Roles {
  column-gap: 200px; 
  }

  .flower-boy-girl{
    column-gap: 350px;
  }

}



